<div class="container" style="margin-top:80px">
<div class="container">
<div class="row">

<p><%= notice %></p>

<h3><strong><%= current_user.first_name %>さんのお気に入りショップ</strong></h3>
<br/><br/><br/><br/>
<table class= "table table-striped" >
  <tr>
    <th class = "subject" style="width:125px;">ショップ名</th>
    <th class = "subject" style="width:125px;">ショップイメージ</th>
    <th class = "subject" style="width:300px;">紹介文</th>
    <th class = "subject" style="width:200px;">住所</th>
    <th class = "subject"></th>
  </tr>
  <% @favorites.each do |favorite| %>
  <%# shop = shop.find_by(id: favorite.shop_id) %>
  <tr>
    <td><%= favorite.shop.name %></td>
    <td><%= image_tag(favorite.shop.image.url) if favorite.shop.image && favorite.shop.image.url %></td>
    <td><%= favorite.shop.introduction %></td>
    <td><%= favorite.shop.address_city %></td>
    <td ><%= link_to '店内を見る', shop_path(favorite.shop.id) %></td>
  </tr>
  <% end %>
</table>

<%= link_to 'TOPページに戻る', shops_path %>
</div>
</div>
