<%= form_with(model: [@shop, @comment]) do |form| %>
  <div>
    <%
=begin%>
 <%= form.label :質問する %>  
<%
=end%>
    <%= form.text_area :content %>
  </div>
  <div class="actions">
  <%if user_signed_in?%>
    <%= form.submit "送信" %>
    <%elsif shop_owner_signed_in?%>
    <%= form.submit "返信する" %>
  <% end %>
  </div>
<% end %>