<%= form_with(model: @shop, local: true ,url: choose_new_or_edit ) do |f| %>
    <% if @shop.errors.any? %>
      <div id="error_explanation">
        <h2><%= @shop.errors.count %>件のエラーがあります。</h2>
        <ul>
        <% @shop.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
    <div class="text-center">
      <%= f.label :ショップ名 %>
      <%= f.text_field :name, class: "form-control" %>
    </div>
    <br>  <br>
    <div class="text-center">
      <%= f.label :ショップ紹介文 %>
      <%= f.text_area  :introduction, rows: 5, class: "form-control" %>
    </div>
    <br>  <br>
    <div class="text-center">
      <%= f.label :ショップイメージ画像 %>
      <%= image_tag(@shop.image.url) if @shop.image && @shop.image.url %>
      <%= f.file_field :image %>
      <%= f.hidden_field :image_cache %>
    </div>
    <br>  <br>
    <div class="text-center">
      <h5><strong>住所等詳細情報</strong></h5>
    </div>
    <br>  <br>
    <div class="text-center">
      <%= f.label :郵便番号 %>
      <%= f.text_field :postcode, placeholder: "半角ハイフンなし", class: "form-control" %>
    </div>
    <br>  <br>
    <div class="text-center">
      <%= f.label :都道府県 %>
      <%= f.text_field :prefecture_code, placeholder: "（例）○○県", class: "form-control" %>
    </div>
    <br>  <br>
    <div class="text-center">
      <%= f.label :市区町村 %>
      <%= f.text_field :address_city, placeholder: "（例）○○市○○町", class: "form-control" %>
    </div>
    <br>  <br>
    <div class="text-center">
      <%= f.label :番地 %>
      <%= f.text_field :address_street, placeholder: "半角数字", class: "form-control"%>
    </div>
    <br>  <br>
    <div class="text-center">
      <%= f.label :建物・部屋番号 %>
      <%= f.text_field :address_building , class: "form-control"%>
    </div>

    <br>  <br>
    <div class="text-center">
      <%= f.label :電話番号 %>
      <%= f.telephone_field :phone_number, placeholder: "半角ハイフンなし", class: "form-control"%>
    </div>
    <br>  <br>
    <div class="text-center" class="actions">
      <%= f.submit :Submit, class:'btn' %>
    </div>
    <br>  <br>
    <div class="text-center">
    <%= link_to 'Back to Mypage', shop_owner_path(current_shop_owner.id) %>
    </div>
<% end %>