<div class="container-fluid" style="margin-top:80px">
<% if current_user.try(:admin?) %>
  <h3>周辺のお店を探してみる(admin）</h3>
<% else %>
  <h3>周辺のお店を探す</h3>
<% end %>


<br/>
<%= form_tag root_path, method: :get do %> 
  <div>
      <%= text_field_tag :search, params[:search], placeholder: "周辺のお店を探してみよう！（例）○○県○○市○○町", class: "form-control", id: "autolocation" %>
  </div> 

  <div>
    <%= submit_tag "検索する", class: "btn btn-normal " %>
  </div>
<% end %> 

<br/><hr/><br/>

<div id="main">
<%
=begin%>
 <h2>shop一覧</h2> 
<%
=end%>
  <div id="left">
    <table class="table table-striped">
      <tr>
        <th class = "subject" style="width:100px;">ショップ名</th>
        <th class = "subject" style="width:125px;">ショップイメージ</th>
        <th class = "subject" style="width:125px;">ショップオーナー</th>
        <th class = "subject" style="width:300px;">紹介文</th>
        <th class = "subject" style="width:150px;">住所</th>
        <th colspan="3"></th>
      </tr>
    <% @shops.each do |shop| %>
      <tr>
        <td><%= shop.name %></td>
        <td><%= image_tag(shop.image.url, width: 200) if shop.image && shop.image.url %></td>
        <td><%= image_tag(shop.shop_owner.image.url, width: 200) if shop.shop_owner.image && shop.shop_owner.image.thumb.url %></td>
        <td><%= shop.introduction %></td>
        <td><%= shop.address_city %></td>
        <td ><%= link_to 'ショップを見る', shop_path(shop.id) %></td>
      </tr>
    <% end %>
    </table>
  </div>
<%
=begin%>
 
<div id="right"> 

    <!-- GOOGLE MAP WILL BE HERE -->

<div id="map" style="width: 100%; height: 100%"></div>

    <script src="https://maps.googleapis.com/maps/api/js"></script>
    <script>
        function initialize(shops) {
          var location = {lat: 44.5403, lng: -78.5463}

          if (shops.length > 0) {
            location = {lat: shops[0].latitude, lng: shops[0].longitude}
          }

          var map = new google.maps.Map(document.getElementById('map'), {
            center: location,
            zoom: 12
          });

          var marker, inforwindow;

          shops.forEach(function(shop) {
            marker = new google.maps.Marker({
              position: {lat: shop.latitude, lng: shop.longitude},
              map: map
            });
            inforwindow.open(map, marker);
          })
        }

        google.maps.event.addDomListener(window, 'load', function() {
          initialize(<%= raw @arrshops.to_json %>)
        });
    </script>
  </div>
</div>

<script>
  $(function() {
    $("#autolocation").geocomplete();
  })
</script>  
<%
=end%>
