
<% if notice %>
	<aside id="notice"><%= notice %></aside>
<% end %> 


<div class="jumbotron text-center">
  <br>
  <h1><%= @shop.name %></h1>
  <br><br>
  <h6><%= @shop.introduction %></h6>
  <br>
</div>
<br/><br/>
<div class="container">
  <div class="row">
    <div class="col-3">
      <div class="sidebar_content">
        <div sidebar_fixed>
          <% if user_signed_in? %>
            <% if @favorite.present? %>
              <%= button_to 'お気に入り解除する', favorite_path(id: @favorite.id, shop_id: @shop.id ), method: :delete %>
            <% else %>
              <%= button_to 'お店をお気に入りに登録する', favorites_path(shop_id: @shop.id), method: :post %>
            <% end %>
          <% end %>
        </div>
        <br/><br/>
        <img src=<%= @shop.shop_owner.image %> class="rounded-circle">
        <br><br>
        <p>店長 <%= @shop.shop_owner.first_name %>さん</p>

        <% if shop_owner_signed_in? %>
          <%= link_to 'お店の情報を編集する', edit_shop_path %><br>
        <% end %>
      </div>
      <br/><br/>

      <h5><strong>掲示板</strong></h5> 
      <div id="comments_area">
        <%= render partial: 'comments/index', locals: { comments: @comments, shop: @shop } %>
      </div>  
      <% if user_signed_in? %>
        <%= render partial: 'comments/form', locals: { comment: @comment, shop: @shop} %>
      <% end %>
      <br/>
      <%= render partial: 'shop_owner_comments/index', locals: { shop_owner_comments: @shop_owner_comments, shop: @shop } %>
      <% if current_shop_owner == @shop.shop_owner %>
        <%= render partial: 'shop_owner_comments/form', locals: { shop_owner_comment: @shop_owner_comment, shop: @shop } %>
      <% end %>
      
      <br/><br/>
      <div id="cart" class="carts">
        <%= render_if @cart && @cart.cart_items.any?, @cart %>
      </div>
    </div>
    <br/>

    <div class="col">
      <h3 class = "heading"><%= @shop.name %>の商品一覧</h3>
      <table class="table table-striped">
        <tr>
          <th class = "subject" style="width:100px;">商品名</th>
          <th class = "subject" style="width:150px;">商品画像</th>
          <th class = "subject" style="width:150px;">詳細</th>
          <th class = "subject" style="width:100px;">価格(税抜）</th>
          <th colspan="4"></th>
        </tr>
        <% @items.each do |item| %>
        <tr>
          <td><%= item.name %></td>
          <td><%= image_tag(item.image.url, width: 200) if item.image && item.image.url %></td>
          <td><%= item.remark .truncate(24)%></td> 
          <td><%= item.price %><span> 円</span></td> 
          <td><%= link_to '詳細', shop_item_path(@shop.id, item.id) %></td>

          <% if user_signed_in? %> 
            <td><%= link_to cart_items_path(shop_id: @shop.id, item_id: item.id), method: :post, remote: true  do%><i class="fas fa-shopping-cart fa-lg"></i><% end %></td>
          <% elsif shop_owner_signed_in? %>
            <td><%= link_to edit_shop_item_path(@shop.id, item.id),data: { confirm: '本当に編集していいですか？' } do %><i class="far fa-edit fa-lg"></i><% end %></td>
            <td><%= link_to shop_item_path(@shop.id, item.id), method: :delete, data: { confirm: '本当に削除していいですか？' } do %><i class="far fa-trash-alt fa-lg"></i><% end %></td>
          <% else %>
            <td><%= link_to new_user_session_path do%><i class="fas fa-shopping-cart fa-lg"></i><% end %></td>
          <% end %> 
        </tr>
      <% end %>
      </table>
      <br>
      <% if shop_owner_signed_in? %> 
        <%= link_to '商品を登録する', new_shop_item_path(shop_id: @shop.id), class:"btn" %>
        <br><br>
        <%= link_to 'Back to Mypage', shop_owner_path(current_shop_owner.id) %>
      <% end %> 
      <br>
      <%= link_to 'トップページに戻る', shops_path %>
    </div>
  </div>
</div>