<div class="container" style="max-width:600px; margin-top:90px;">


<h3 class="text-center"><strong>ユーザー ログイン</strong></h3>
<br><br>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div>
    <%= f.label :email %><br />
    <div class="col-xs-4">
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control"%>
    </div>
  </div>
  <br>  <br>
  
  <div>
    <%= f.label :password %><br/>
        <div class="col-xs-4">
    <%= f.password_field :password, autocomplete: "current-password", class: "form-control"  %>
  </div>
    </div>
<br><br>
  <% if devise_mapping.rememberable? %>
    <div class="text-center" class="field">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  <% end %>
<br>
  <div class="text-center" class="field">
    <%= f.submit "Log in", class:'btn' %>
  </div>
  <br>
<% end %>
<div class="text-center">
  <a href="/users/sign_up">アカウント登録する</a><br>
  <%
=begin%>
 <a href="/users/password/new">パスワードを忘れましたか?</a><br> 
<%
=end%>
</div>
</div>
</div>