<%= render 'layouts/flash' %>
<div id="shop_owner_comment_edit_form">
  <%= form_with(model: [shop, shop_owner_comment]) do |f| %>
    <div class="input-field">
      <%= f.text_area :content, class: "materialize-textarea", id: "shop_owner_comment_content_#{shop.id}" %>
      <%
=begin%>
 <%= f.label :content, class: "active" %> 
<%
=end%>
  <br/>
      <%= f.submit "コメント更新する" %>
      <%= link_to :back do %>戻る<% end %>
    </div>
  <% end %>
</div>