  <br><br>
  <div class="shop_owner_comment-form">
    <%= form_with(model: [shop, shop_owner_comment]) do |f| %>
      <div class="input-field">
        <%= f.text_area :content, class: "materialize-textarea" %>
        <%
=begin%>
 <%= f.label :content, "コメント内容", class: "active" %> 
<%
=end%>
        <br><br>
        <%= f.submit "送信" %>
      </div>
      <%
=begin%>
 <div>
        <%= button_tag :type => "submit", :class =>"waves-effect waves-light btn" do %>
          <%= "submit" %>
        <% end %>
      </div> 
<%
=end%>
    <% end %>
  </div>
