<%
=begin%>
 <%= render 'layouts/flash' %> 
<%
=end%>
<div>
  <strong>●店長のメッセージ</strong>
</div>

 <%
=begin%>
 <% ShopOwnerComment.all.order(created_at: :desc).each do |shop_owner_comment| %>    
<%
=end%>

  <% ShopOwnerComment.where(shop_id: params[:id]).all.order(created_at: :desc).each do |shop_owner_comment| %>
  <% if shop_owner_comment.id.present? %>
    <div class="show-shop_owner_comment show-box" id="shop_owner_comment_<%= shop_owner_comment.id %>">
      <div>
      </div>
      <div id="errors_area_<%= shop_owner_comment.id %>">
        <%= render partial: 'shop_owner_comments/edit_error' %>
      </div>
      <div class="shop_owner_comment-content" id ="this_shop_owner_comment_<%= shop_owner_comment.id %>">
        <%= simple_format(shop_owner_comment.content) %>
      </div>
      <span>投稿日時:<%= time_ago_in_words(shop_owner_comment.created_at) %></span>
      <% if shop_owner_signed_in? %>
        <span><%= link_to shop_shop_owner_comment_path(shop_owner_comment.shop_id, shop_owner_comment.id), method: :delete, remote: true,
                                        data: { confirm: "本当に削除しますか?"} do %><i class="far fa-trash-alt fa-lg"></i><% end %></span>
        <%
=begin%>
 <span class="badge"><%= link_to t('.edit'), edit_shop_shop_owner_comment_path(shop, shop_owner_comment), remote: true %></span> 
<%
=end%>
      <% end %>
    </div>
  <% end %>
<% end %>
