<h1>Home#index</h1>
<div>
<p>ユーザー入り口</p>
  <% if user_signed_in? %> 
    <!-- current_user は現在ログインしているUserオブジェクトを返すdeviseのHelperメソッド -->
    <!-- *_path はUserモデルを作成したときに、
    deviseにより自動で作成されてますので、rake routesで確認できます -->
    Logged in as <strong><%= current_user.email %></strong>.
    <%= link_to 'プロフィール変更', edit_user_registration_path %> |
    <%= link_to "ログアウト", sign_out_path %>
  <% else %>
    <%= link_to "サインイン", new_user_registration_path %> |
    <%= link_to "ログイン", new_user_session_path %>
  <% end %>
</div>

<p>ショップオーナー入り口</p>
  <% if shop_owner_signed_in? %> 
    <!-- current_user は現在ログインしているUserオブジェクトを返すdeviseのHelperメソッド -->
    <!-- *_path はUserモデルを作成したときに、
    deviseにより自動で作成されてますので、rake routesで確認できます -->
    Logged in as <strong><%= current_shop_owner.email %></strong>.
    <%= link_to 'プロフィール変更', edit_shop_owner_registration_path %> |
    <%= link_to "ログアウト", sign_out_path %>
  <% else %>
    <%= link_to "サインイン", new_shop_owner_registration_path %> |
    <%= link_to "ログイン", new_shop_owner_session_path %>
  <% end %>
</div>