<div class="container" style="max-width:700px; margin-top:90px;">
<h2 class="text-center">オーナー情報を編集する</h2>
<br> <br>
<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

<div class="row">
  <div class="col-md-6">
    <%= f.label :first_name %><br />
    <%= f.text_field :first_name, autofocus: true, autocomplete: "first_name", class: "form-control" %>
  </div>

  <div class="col-md-6">
    <%= f.label :last_name %><br />
    <%= f.text_field :last_name, autofocus: true, autocomplete: "last_name", class: "form-control" %>
  </div>
</div>
<br> <br>
  <div class="field">
    <%= f.label :image %>
    <%= f.file_field :image %>
  </div>
<br>
<div class="row">
  <div class="col">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
  </div>
</div>
<br> <br>
<div class="row">
  <div class="col-md-6">
    <%= f.label :postcode %><br />
    <%= f.text_field :postcode, autofocus: true, autocomplete: "postcode", class: "form-control" %>
  </div>
  <div class="col-md-6">
    <%= f.label :prefecture_code %><br />
    <%= f.text_field :prefecture_code, autofocus: true, autocomplete: "prefecture_code", class: "form-control" %>
  </div>
</div> 
<br> <br>
<div class="row">
  <div class="col-md-6">
    <%= f.label :address_city %><br />
    <%= f.text_field :address_city, autofocus: true, autocomplete: "address_city", class: "form-control" %>
  </div>
  <div class="col-md-6">
    <%= f.label :address_street %><br />
    <%= f.text_field :address_street, autofocus: true, autocomplete: "address_street", class: "form-control" %>
  </div>
</div>
<br> <br>
<div class="row">
  <div class="col">
    <%= f.label :address_building %><br />
    <%= f.text_field :address_building , autofocus: true, autocomplete: "address_building", class: "form-control" %>
  </div>
</div>
<br> <br>
<div class="row">
  <div class="col-md-6">
    <%= f.label :phone_number %><br />
    <%= f.telephone_field :phone_number, autofocus: true, autocomplete: "phone_number", class: "form-control"%>
  </div>
  <div class="col-md-6">
    <%= f.label :number_of_store %><br />
    <%= f.number_field :number_of_store, autofocus: true, autocomplete: "number_of_store", class: "form-control" %>
  </div>
</div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>
<br> <br>
<div class="row">
  <div class="col-md-6">
    <i>新しい</i><%= f.label :password %> <i>※変更ない場合は空白のまま</i><br />
    <%= f.password_field :password, autocomplete: "new-password", class: "form-control" %>
    <% if @minimum_password_length %>
      <em><%= @minimum_password_length %> 文字以上</em>
    <% end %>
  </div>

  <div class="col-md-6">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control" %>
  </div>
</div>
<br> <br>
<div class="row">
  <div class="col">
    <%= f.label :current_password %> <i>※確認のため現在のパスワードを記入してください</i><br />
    <%= f.password_field :current_password, autocomplete: "current-password", class: "form-control" %>
  </div>
</div>
    <br/><br/>
  <div class="text-center" class="actions">
    <%= f.submit "登録情報を更新する", class:'btn'%>
  </div>
<% end %>

    <br/><br/>
<div class="text-center"><%= button_to "アカウントを削除する", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></div>
    <br/><br/>
<p  class="text-center"><%= link_to "Back", :back %></p>
