<article>
	<%
=begin%>
 <% if notice %>
		<aside id="notice"><%= notice %></aside>
	<% end %> 
<%
=end%>

	<h2>カートの内容</h2>

	<table>
		<tr>
			<th>商品名（確認）</th>
			<th>数量</th>
			<th>価格</th>
		</tr>

		<%= render(cart.cart_items) %>

		<tfoot>
			<tr>
				<th colspan="2">合計：</th>
				<td class="price"><%= number_to_currency(@cart.total_price) %></td>
			</tr>
		</tfoot>
	</table>
	<%= button_to 'カートを空にする', cart_path(@cart, shop_id: @shop.id), method: :delete, data: { confirm: '本当によろしいですか？' } %>
	<%= button_to '注文する', new_order_path, method: :get, class: "checkout" %>
</article>