
<div class="container" >
<%= form_with(model: [@shop,@item], local: true, url: choose_new_or_edit2 ) do |f| %>
    <% if @item.errors.any? %>
      <div id="error_explanation">
        <h2><%= @item.errors.count %>件のエラーがあります。</h2>
        <ul>
        <% @item.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
    <div>
      <%= f.label :商品名 %>
      <%= f.text_field :name, class: "form-control" %>
    </div>
        <br>  <br>
    <div class="row">
      <div class="col-md-6">
      <%= f.label :価格 %>
      <%= f.number_field :price, class: "form-control", min: 0, placeholder: "円（税抜）"%>
    </div>
        <br>  <br>
    <div class="col-md-6">
      <%= f.label :在庫数 %>
      <%= f.number_field :stock, class: "form-control", min: 0, placeholder: "個"%>
    </div>
  </div>
    <br>  <br>
    <div>
      <%= f.label :商品紹介文 %>
      <%= f.text_area  :remark, rows: 3, class: "form-control" %>
    </div>
    <br>  <br>
    <div class="row">
      <div class="col-md-6">
      <%= f.label :商品画像 %>
      <%= image_tag(@item.image.url) if @item.image && @item.image.url %>
      </div>
      <div class="col-md-6">
      <%= f.file_field :image %>
      <%= f.hidden_field :image_cache %>
    </div>
  </div>
    <br>  <br><br>
    <div class="text-center" class="actions" >
      <%= f.submit :登録する, class:'btn' %>
    </div>
      <br>  <br>
    <div class="text-center">
    <%= link_to 'ショップページに戻る', shop_path(current_shop_owner.id) %>
    </div>  
<% end %>
    </div>  