
<% if notice %>
	<aside id="notice"><%= notice %></aside>
<% end %>

<div class="container" style="max-width:800px; margin-top:80px">
<div class="row">
<div class="col-4">
<div class="sidebar_content">
<div sidebar_fixed>
<br><br><br>
<div id="cart" class="carts">
  <%= render_if @cart && @cart.cart_items.any?, @cart %>
</div>
</div>
</div>
</div>
<div class="col-8">
  <h4 ><%= @item.name %></h4>
  <br>
  <div>
  <%= image_tag(@item.image.url) if @item.image && @item.image.url %>
  </div>
<br><br>
  <div class="row">
  <h6 class = "col-3">商品概要：</h6>
  <div class = "col-9"><%= @item.remark %><br></div>
  </div>
  <br><br>
  <div class="row">
  <h6 class = "col-3">価格:</h6>
  <div class = "col-9"><strong><%= @item.price %> 円</strong></div>
  </div>
  <br><br>
  <% if shop_owner_signed_in? %> 
  <div class="row">
  <h6 class = "col-3"><strong>在庫:</strong></h6>
  <div class = "col-9"><strong><%= @item.stock %> 個</strong></div>
  </div>
  <% end %> 
  <br>
  <% if user_signed_in? %> 
    <td><%= link_to cart_items_path(shop_id: @shop.id, item_id: @item.id), method: :post, remote: true do %><i class="fas fa-shopping-cart fa-lg"></i><% end %></td>
  <% elsif shop_owner_signed_in? %>
    <td><%= link_to '編集する', edit_shop_item_path(@item.id),data: { confirm: '本当に編集していいですか？' }  %></td> | 
    <td><%= link_to '削除する', shop_item_path(@item.id), method: :delete, data: { confirm: '本当に削除していいですか？' }  %></td>
  <% end %> 
  <br>
  <br>


  <% if user_signed_in? %> 
    <%= link_to '戻る', shop_path %>
  <% else %>
    <%= link_to 'ショップページに戻る', shop_path(@shop.id) %>
  <% end %>
</div>