
<div class="container" style="margin-top:90px">
<h3 class="text-center"><strong><%= current_shop_owner.first_name %>さんの 管理ページ</strong></h3>
<br>
 <div class="text-center">
  <img src=<%= current_shop_owner.image %> class="rounded-circle">
</div> 

<br>

<div class="text-center">
  <%= link_to 'アカウントを編集する', edit_shop_owner_registration_path %><br>
</div>

<br><br>
<h4 class = "heading"><strong>マイショップ一覧</strong></h4>
<%# <p id="notice"><%= notice %></p> 
<table class="table table-striped">
  <tr>
    <th class = "subject"  style="width:100px;">ショップ名</th>
    <th class = "subject" style="width:150px;">ショップイメージ</th>
    <th class = "subject" style="width:200px;">詳細</th>
    <th class = "subject" style="width:200px;">住所</th>
    <th colspan="4"></th>
  </tr>
  <% @shops.each do |shop| %>
    <tr>
      <td><%= shop.name %></td>
      <td><%= image_tag shop.image.url if shop.image && shop.image.url %></td>
      <td><%= shop.introduction %></td>
      <td><%= shop.address_city +  shop.address_street%></td>
      <td><%= link_to '詳細', shop_path(shop.id) %></td>
      <td><%= link_to edit_shop_path(shop.id),data: { confirm: '本当に編集していいですか？' } do %><i class="far fa-edit fa-lg"></i><% end %></td>
      <td><%= link_to shop_path(shop.id), method: :delete, data: { confirm: '本当に削除していいですか？' } do %><i class="far fa-trash-alt fa-lg"></i><% end %></td>
    </tr>
  <% end %>
</table>
<br>
<%= link_to '新しいお店を登録する', new_shop_path, class:"btn" %>