<!DOCTYPE html>
<!-- ↓skyway追加-->
<%
=begin%>
 <html lang="ja"> 
<%
=end%>
<html>
  <head>
    <title>Localshopping</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%
=begin%>
 <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %> 
<%
=end%>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.12.1/themes/hot-sneaks/jquery-ui.css">
    <link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
  <!-- ↓ここからskyway追加 -->
  <%
=begin%>
 <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.webrtc.ecl.ntt.com/skyway-latest.js"></script>
  <title>SkyWayチュートリアル</title> 
<%
=end%>
  </head>
  <body style="height:1500px">

<body>

  <header>

		<nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top">
    <ul class="navbar-nav mr-auto" >
      <a class="navbar-brand" href="/">地元でお買い物</a>
    </ul>
    
    <ul class="navbar-nav">
      <% if user_signed_in? %> 
        <li class="nav-item">Logged in as : ユーザー　<%= current_user.first_name %></li>
        <li class="nav-item"><%= link_to 'アカウント情報変更', edit_user_registration_path %></li>
        <li class="nav-item"><%= link_to "お気に入りのお店一覧を見る", favorites_path, method: :get %></li>
        <li class="nav-item"><%= link_to "ログアウト", destroy_user_session_path, method: :delete %></li>
      <% elsif shop_owner_signed_in? %>
        <li class="nav-item">Logged in as : ショップオーナー <%= current_shop_owner.email %></li>
        <li class="nav-item"><%= link_to "マイページに行く", shop_owner_path(current_shop_owner.id) %></li>
        <li class="nav-item"><%= link_to "店舗情報作成", new_shop_path %></li>
        <li class="nav-item"><%= link_to 'アカウント情報変更', edit_shop_owner_registration_path %></li>
        <li class="nav-item"><%= link_to "ログアウト", destroy_shop_owner_session_path, method: :delete %></li>
      <% else %>
      <!-- ユーザーショップオーナーログインしてないとき表示 -->
        <li class="nav-item navbar-light"><%= link_to "ユーザーログイン", new_user_session_path %></li>
        <li class="nav-item"><%= link_to "ショップオーナーログイン", new_shop_owner_session_path %></li>
      <% end %>
    </ul>
    </nav>
  </header>

  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
  
    <%= yield %>

    <%
=begin%>
 <!-- ↓ここからskyway追加 -->
    <video id="my-video" width="400px" autoplay muted playsinline></video>
    <p id="my-id"></p>
    <script>
  let localStream;

  // カメラ映像取得
  navigator.mediaDevices.getUserMedia({video: true, audio: true})
    .then( stream => {
    // 成功時にvideo要素にカメラ映像をセットし、再生
    const videoElm = document.getElementById('my-video')
    videoElm.srcObject = stream;
    videoElm.play();
    // 着信時に相手にカメラ映像を返せるように、グローバル変数に保存しておく
    localStream = stream;
  }).catch( error => {
    // 失敗時にはエラーログを出力
    console.error('mediaDevice.getUserMedia() error:', error);
    return;
  });

</script> 
<%
=end%>
</body>
</html>
