<div class="container" style="margin-top:90px">

  <h3 class="text-center"><strong>ユーザー登録画面</strong></h3>
  <br> 
  <p class="text-center">※お住まいの周辺のお店を自動的に表示させる仕様を検討中のため、お手数ですが住所の入力をお願いしております</p>
<br> <br>
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="text-center">
      <%= f.label :first_name %><br />
      <%= f.text_field :first_name, autofocus: true, autocomplete: "first_name", class: "form-control" %>
    </div>
  <br>
    <div class="text-center">
      <%= f.label :last_name %><br />
      <%= f.text_field :last_name, autofocus: true, autocomplete: "last_name", class: "form-control" %>
    </div>
    <br>
    <div class="text-center">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
    </div>
  <br>
    <div class="text-center">
      <%= f.label :password %>
      <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> characters minimum)</em>
      <% end %><br />
      <%= f.password_field :password, autocomplete: "new-password", class: "form-control" %>
    </div>
  <br>
    <div class="text-center">
      <%= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation, autocomplete: "new-password" , class: "form-control"%>
    </div>
  <br>
    <div class="text-center">
      <%= f.label :postcode %><br />
      <%= f.text_field :postcode, autocomplete: "postcode",class: "postal_code", id: "address_zipcode", placeholder: "ハイフンなし", class: "form-control"%>
    </div>
  <br> <br>
    <div class="text-center">
      <%= f.label :prefecture_code %><br />
      <%= f.text_field :prefecture_code, autocomplete: "prefecture_code", class: "address", id: "prefecture_code", placeholder: "（例）○○県", class: "form-control"%>
    </div>
  <br>  <br>
    <div class="text-center">
      <%= f.label :address_city %><br />
      <%= f.text_field :address_city, autocomplete: "address_city", class: "address", id: "address_city", placeholder: "（例）○○市○○町", class: "form-control" %>
    </div>
  <br>  <br>
    <div class="text-center">
      <%= f.label :address_street %><br />
      <%= f.text_field :address_street, autocomplete: "address_street", class: "address", id: "address_street", placeholder: "半角数字", class: "form-control"%>
    </div>
  <br>  <br>
    <div class="text-center">
      <%= f.label :address_building %><br />
      <%= f.text_field :address_building, autocomplete: "address_building" , class: "form-control"%>
    </div>
  <br>  <br>
    <%
=begin%>
 <div class="text-center">
      <%= f.label :phone_number %><br />
      <%= f.telephone_field :phone_number, autofocus: true, autocomplete: "phone_number", placeholder: "半角ハイフンなし", class: "form-control"%>
    </div>
  <br>  <br> 
<%
=end%>


    <div class="text-center" class="actions">
      <%= f.submit "Sign up" %>
    </div>
  <% end %>
    <br>
  <div class="text-center" class="actions"> 
  <%= render "users/shared/links" %>
  </div>
</div>
